body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #fff;
    color: #000;
}

#site-title {
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: 1px solid #ddd;
    max-width: 720px;
    min-height: 200px;
    border-radius: 10px;
    padding : 20px;
}

#content-child {
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #0D6EFD;
    border-color: #0D6EFD;
}
.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.btn-warning {
    color: #fff;
    background-color: #FFC107;
    border-color: #FFC107;
}
.btn-info {
    color: #fff;
    background-color: #0DCAF0;
    border-color: #0DCAF0;
}
.btn-answer {
    width: 175px;
    height: 65px;
    white-space: normal;
    margin: 10px;
}

/* dark */
[data-theme=dark] body {
    background-color: #000;
    color: #fff;
}